<div class="container mt-5">
  <h2 class="text-center">Simple Dictionary</h2>

  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <input [(ngModel)]="word" class="form-control" placeholder="Enter a word" required>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-3">
      <select [(ngModel)]="sourceLanguage" (ngModelChange)="updateTargetLanguages()" class="form-control" required>
        <option *ngFor="let language of languages" [value]="language">{{ getLanguageName(language) }}</option>
      </select>
    </div>

    <div class="col-md-3">
      <select [(ngModel)]="targetLanguage" class="form-control" required>
        <option *ngFor="let language of targetLanguages" [value]="language">{{ getLanguageName(language) }}</option>
      </select>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-2">
      <button (click)="search()" [disabled]="!word || !sourceLanguage || !targetLanguage" class="btn btn-primary btn-block">Search</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
