<div class="container-fluid">
  <mat-toolbar color="primary" (click)="navigateToHome()">
    <span class="title">Simple Dictionary</span>
  </mat-toolbar>

  <div *ngIf="!searchClicked" class="form-container center">
    <mat-form-field appearance="outline" class="input-field">
      <input matInput [(ngModel)]="word" placeholder="Enter a word" required>
    </mat-form-field>

    <div class="language-selection">
      <mat-form-field appearance="outline" class="select-language">
        <mat-select [(ngModel)]="sourceLanguage" (ngModelChange)="updateTargetLanguages()" placeholder="Source Language" required>
          <mat-option *ngFor="let language of languages" [value]="language">{{ getLanguageName(language) }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="select-language">
        <mat-select [(ngModel)]="targetLanguage" placeholder="Target Language" required>
          <mat-option *ngFor="let language of targetLanguages" [value]="language">{{ getLanguageName(language) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="accent" (click)="search()" [disabled]="!word || !sourceLanguage || !targetLanguage">Search</button>
  </div>

  <div *ngIf="searchClicked" class="form-container top">
    <mat-form-field appearance="outline" class="input-field">
      <input matInput [(ngModel)]="word" placeholder="Enter a word" required>
    </mat-form-field>

    <div class="language-selection">
      <mat-form-field appearance="outline" class="select-language">
        <mat-select [(ngModel)]="sourceLanguage" (ngModelChange)="updateTargetLanguages()" placeholder="Source Language" required>
          <mat-option *ngFor="let language of languages" [value]="language">{{ getLanguageName(language) }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="select-language">
        <mat-select [(ngModel)]="targetLanguage" placeholder="Target Language" required>
          <mat-option *ngFor="let language of targetLanguages" [value]="language">{{ getLanguageName(language) }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-icon-button color="primary" (click)="search()" [disabled]="!word || !sourceLanguage || !targetLanguage">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
