<div *ngIf="wordDetails; else noData" class="container mt-5">
  <h2 class="text-center mb-4">{{ wordDetails.word }}</h2>

  <div class="row">
    <div class="col-lg-6">
      <div *ngIf="wordDetails" class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Word Details</h5>
          <p><strong>Pronunciation:</strong> {{ wordDetails.pronunciation }}</p>
          <p><strong>Definition:</strong> {{ wordDetails.definition }}</p>
          <p><strong>Example:</strong> {{ wordDetails.examples }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div *ngIf="wordDetails" class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Translation and Synonyms</h5>
          <p><strong>Translations:</strong> {{ wordDetails.translation?.join(', ')}}</p>
          <p><strong>Synonyms:</strong> {{ wordDetails.synonyms?.join('|') }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <div class="container mt-5">
    <p class="text-center">No word data to display</p>
  </div>
</ng-template>
